@model IEnumerable<RssFider.Models.Article>
<!DOCTYPE html>

@{
    var time = $"{ViewData["FeedUpdateTimeout"]}";
}

<meta http-equiv="refresh" content="@time">
<html>
<head>
    <title>RssFider</title>
</head>
<body>
<div>
      @foreach(var article in Model) {
          <a href=@article.Url>@article.Title</a>
          <br>
          @article.ReleaseDate
          <br>
          @article.Description
          <br>
      }
</div>
</body>
</html>